A user posted this reply in <%= @chat.type %>:

<%= @msg.text %>

React to this in <%= @chat.type %> and treat it as a followup for this job.  Message details are id=<%= @msg.id %>, channel=<%= @channel.text %>,channel_id=id=<%= @channel.id %>.
