A user posted this reply in <%= @chat.type %> you must follow up on:

```
<%= @msg.text %>
```

Before working, react to this in <%= @chat.type %>.  Message details are id=<%= @msg.id %>, channel=<%= @channel.text %>,channel_id=id=<%= @channel.id %>.  Then do what you can to address the prompt above.
