You've been assigned the following issue from <%= @issue.provider %>, please investigate everything necessary to complete the task.  The issue will be described below:

# <%= @issue.title %>

<%= @issue.body %>

<%= if @issue.payload do %>
# Full Webhook Payload

For reference, this is the webhook result from the original <%= @issue.provider %> webhook:

```json
<%= Jason.encode!(@issue.payload) %>
```
<% end %>
