The stack run for pull request <%= @pr.url %> has been completed. Do a verification pass in <%= plrl_stack_mention(@run.stack) %> to ensure the expected changes were made (be aware that some changes could have been placed in other PRs or actions).
