*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Monument;
  font-weight: 400;
  src: url("/fonts/monument-regular.otf") format("opentype");
}

@font-face {
  font-family: Monument;
  font-weight: 450;
  src: url("/fonts/monument-medium.woff") format("woff");
}

@font-face {
  font-family: Monument;
  font-weight: 500;
  src: url("/fonts/monument-medium.woff") format("woff");
}

@font-face {
  font-family: Monument;
  font-weight: 500;
  src: url("/fonts/monument-bold.woff") format("woff");
}

@font-face {
  font-family: Monument;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/monument-regular-italic.woff") format("woff");
}

@font-face {
  font-family: Monument;
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/monument-medium-italic.woff") format("woff");
}

@font-face {
  font-family: Monument;
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/monument-bold-italic.woff") format("woff");
}

@font-face {
  font-family: 'Monument Semi-Mono';
  font-weight: 400;
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monument Semi-Mono';
  font-weight: 500;
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Monument Semi-Mono';
  font-weight: 600;
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Heavy.woff") format("woff");
}

@font-face {
  font-family: 'Monument Mono';
  font-weight: 400;
  src: url("/fonts/ABCMonumentGroteskMono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monument Mono';
  font-weight: 500;
  src: url("/fonts/ABCMonumentGroteskMono-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Monument Mono';
  font-weight: 600;
  src: url("/fonts/ABCMonumentGroteskMono-Heavy.woff") format("woff");
}