.vscode/
.git/
.gitignore
.dockerignore

/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
watchman-*.tar
/priv/data

Dockerfile*
Makefile
README*
assets/node_modules/
assets/.pnp.*
assets/.yarn/*
!assets/.yarn/patches
!assets/.yarn/plugins
!assets/.yarn/releases
!assets/.yarn/sdks
!assets/.yarn/versions
