.vscode/
.gitignore
.dockerignore

/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
watchman-*.tar
/priv/data
/data

Dockerfile*
Makefile
README*
**/node_modules/
.pnp.*
/js/.yarn/*
!/js/.yarn/releases/
!/js/.yarn/releases/**
/js/assets/build/
/js/design-system/dist/
/js/design-system/storybook-static/
/js/documentation/.next/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
