.vscode/
.gitignore
.dockerignore

/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
watchman-*.tar
/priv/data
/data

Dockerfile*
Makefile
README*
**/node_modules/
.pnp.*
.yarn/*
!.yarn/releases/
!.yarn/releases/**
/assets/build/
/design-system/dist/
/design-system/storybook-static/
/documentation/.next/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
