nameOverride: ""
fullnameOverride: ""

secret: ""
cloudBase64: ""

velero:
  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.9.2
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
    - name: velero-plugin-for-microsoft-azure
      image: velero/velero-plugin-for-microsoft-azure:v1.9.2
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
    - name: velero-plugin-for-gcp
      image: velero/velero-plugin-for-gcp:v1.9.1
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
  configuration:
    backupStorageLocation: {}
    volumeSnapshotLocation: {}
  snapshotsEnabled: false
  schedules:
    default:
      disabled: false
      schedule: 0 7 * * *
      template:
        ttl: 72h0m0s
  deployNodeAgent: false
  credentials:
    secretContents:
      cloud: ""
