{{- if .Values.secret -}}
apiVersion: v1
kind: Secret
metadata:
  name: gcp-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "velero.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    {{- include "velero.labels" . | nindent 4 }}
type: Opaque
data:
  cloud: {{ .Values.cloudBase64 | quote}}
{{- end -}}
