apiVersion: v2
name: console
description: A chart for plural console
appVersion: 0.4.20
version: 0.7.71
dependencies:
  - name: test-base
    version: 0.1.10
    repository: https://pluralsh.github.io/module-library
    condition: test-base.enabled
