apiVersion: v2
name: console
description: A chart for plural console
appVersion: 0.10.9
version: 0.10.35
dependencies:
  - name: test-base
    version: 0.1.10
    repository: https://pluralsh.github.io/module-library
    condition: test-base.enabled
  - name: controller
    version: 0.0.58
    repository: file://../../../charts/controller
  - name: kubernetes-dashboard
    version: 7.5.0
    alias: dashboard
    repository: https://kubernetes.github.io/dashboard
    condition: dashboard.enabled
