### Plural Summary

<%= @review.summary %>

### Mergeability Grade: <%= @review.confidence |> to_string() |> String.upcase() %>

<%= @review.confidence_comment %>
<%= if Enum.any?(@review.files) do %>

<details>
<summary><strong>Files changed (<%= length(@review.files) %>)</strong></summary>

| Filename | Summary |
| --- | --- |
<%= for file <- @review.files do %>| `<%= Console.Deployments.Pr.Review.table_cell(file.filename) %>` | <%= Console.Deployments.Pr.Review.table_cell(file.summary) %> |
<% end %>
</details>
<% end %>
