.log {
  background-color: #222;
  color: #d6d6d6;
  font-family: Monaco, monospace;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  outline: none;
  overflow: auto !important;
  white-space: pre;
  will-change: initial;
}
