{
    "text": "🚰 Pipeline <%= @pipe.name %> has pending changes",
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "🚰 *Pipeline <%= @pipe.name %> has pending changes*"
			}
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": "View Pipeline",
						"emoji": true
					},
					"url": "<%= Console.url("/cd/pipelines/#{@pipe.id}") %>"
				}
			]
		}
	]
}
