{
    "text": "Pipeline <%= @pipe.name %> has pending changes",
    "blocks": [
        {
            "type": "section",
            "fields": [
                {"type": "mrkdwn", "text": "*Url*\n<%= Console.url("/cd/pipelines/#{@pipe.id}") %>"}
            ]
        }
    ]
}
