apiVersion: v2
name: console
description: >-
  deploys the plural console and additional dependencies, for use in bring-your-own-kube setups
appVersion: 0.8.15
version: 0.2.0
dependencies:
  - name: kas
    version: 0.0.5
    repository: file://../../plural/helm/kas
  - name: controller
    version: 0.0.21
    repository: file://../controller
  - name: kubernetes-dashboard
    version: 7.0.0
    repository: https://kubernetes.github.io/dashboard
    condition: kubernetes-dashboard.enabled
  - name: flux2
    version: 2.11.1
    repository: https://fluxcd-community.github.io/helm-charts
    condition: flux2.enabled
type: application
