apiVersion: v2
name: console
description: >-
  deploys the plural console and additional dependencies, for use in bring-your-own-kube setups
appVersion: 0.9.16
version: 0.3.19
dependencies:
  - name: kas
    version: 0.1.0
    repository: file://../../plural/helm/kas
  - name: controller
    version: 0.0.44
    repository: file://../controller
  - name: kubernetes-dashboard
    version: 7.4.0
    alias: dashboard
    repository: https://kubernetes.github.io/dashboard
    condition: dashboard.enabled
  - name: flux2
    version: 2.11.1
    repository: https://fluxcd-community.github.io/helm-charts
    condition: flux2.enabled
type: application
