apiVersion: v2
name: console
description: >-
  deploys the plural console and additional dependencies, for use in bring-your-own-kube setups
appVersion: 0.11.59
version: 0.3.135
dependencies:
  - name: kas
    version: 0.3.1
    repository: file://../kas
  - name: controller
    version: 0.0.164
    repository: file://../controller
    condition: controller.enabled
  - name: flux2
    version: 2.14.0
    repository: https://fluxcd-community.github.io/helm-charts
    condition: flux2.enabled
  - name: dex
    version: 0.24.0
    repository: https://charts.dexidp.io
    condition: dex.enabled
type: application
