# Default values for watchman.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  additionalVolumes: ~
  additionalVolumeMounts: ~
  registry: ghcr.io/pluralsh

cloud:
  enabled: false
  o11y:
    enabled: false
  database:
    enabled: false
    shard: ~
    name: ~
    password: ~
    user: ~
  # If set to a truthy value, mounts a volume for the certs
  pgRootCert: ~
  elasticNamespace: elastic
  postgresNamespace: postgres
  instanceName: ~
  vmPassword: ~
  esPassword: ~
  vmTenant: ~

# disableAdditionalVolumes is the flag for global.additionalVolumes
disableAdditionalVolumes: false

# replicaCount is the replica count for console deployment
replicaCount: 2

# homeDir is the prefix for the mount path for console-conf volume in console container. The actual config will go in {homDir}/.plural
homeDir: /home/console

# podLabels is the set of pod labels to apply to spec.template.metadata.labels
podLabels: { }
# podAnnotations is the set of pod annotations to apply to spec.template.metadata.annotations
podAnnotations: { }

# migrator is used to configure the console migration Job defined in migration.yaml, specifically the migrator container
migrator:
  command: ["/opt/app/bin/migrate"]
  nodeSelector: ~
  securityContext: ~
  containerSecurityContext: ~
  tolerations: ~

# console is used to configure the layout of the main Console containers, hosting the core console api and webserver.
console:
  config:
    # refreshTokenExpiry is used to configure the refresh token expiry time.  Use a duration string like ``7d``, ``1h`` etc to set the expiry,.
    refreshTokenExpiry: 7d
    # oidcSync is used to configure whether oidc group claims full sync or not in the db.  Use ``full`` to enable full sync.
    oidcSync: upsert
    # defaultProjectName is used to configure the default project name.
    defaultProjectName: ~
    # serviceAccountDomain is used to configure the service account domain.
    serviceAccountDomain: ~
    # deployOperatorUrl is used to configure the default deploy-operator git repository url, uses https://github.com/pluralsh/deployment-operator.git if not set.
    deployOperatorUrl: ~
    # artifactsUrl is used to configure the default artifacts url, uses https://github.com/pluralsh/scaffolds.git if not set.
    artifactsUrl: ~

    # assetsProxyUrl use this if you need to proxy downloads of new compatibility matrices or other live updated information from our datasets
    assetsProxyUrl: ~

    # rdsIamAuthentication is used to configure whether rds iam authentication should be enabled for all db connections.  Ensure your database is prepared to handle IAM authentication before enabling here.
    rdsIamAuthentication: false

  additionalContainers: ~
  containerSecurityContext:
    capabilities:
      drop:
      - ALL
    allowPrivilegeEscalation: false
    runAsNonRoot: false
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
  securityContext: ~

# secrets is used to configure environment variables for the console, in secrets.yaml
secrets:
  # cluster_name is used to set CLUSTER_NAME
  cluster_name: test
  # jwt is used to set JWT_SECRET if not null
  jwt: REPLACEME
  # erlang is used to set ERLANG_COOKIE if not null
  erlang: REPLACEME
  # admin_name is used to set ADMIN_NAME
  admin_name: test
  # admin_email is used to set ADMIN_EMAIL
  admin_email: admin@example.com
  # admin_password is used to set ADMIN_PASSWORD if not null
  admin_password: REPLACEME
  # aes_key is used to set AES_KEY if not null
  aes_key: ~
  # identity is used to set data.identity and is one of the flags that can be used to determine if console-conf secret is created and if console-conf volume is mounted in console container
  identity: ~
  # key is used to set key in console-migration-env and is one of the flags that can be used to determine if console-migration-env secret is created
  key: ~
  # plural_client_id is used to set PLURAL_CLIENT_ID if not null
  plural_client_id: ~
  # plural_client_secret is used to set PLURAL_CLIENT_SECRET if not null
  plural_client_secret: ~
  # webhook_secret is used to set WEBHOOK_SECRET if not null
  webhook_secret: ~

# image is used to configure the image for the console container as follows: "{{ .Values.global.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
image:
  repository: console
  tag: ~
  imagePullPolicy: IfNotPresent
  pullPolicy: ~

# ociAuth is used to configure the image for the oci-auth container as follows: "{{ .Values.global.registry }}/{{ .Values.ociAuth.repository }}:{{ .Values.ociAuth.tag | default .Chart.AppVersion }}"
ociAuth:
  repository: oci-auth
  tag: ~
  imagePullPolicy: IfNotPresent

aiProxy:
  enabled: true
  image:
    repository: nexus
    tag: ~
    pullPolicy: IfNotPresent
    extraArgs: []
  config:
    server:
      address: ":8080"
      path: /ext/ai
      readTimeout: "30s"
      idleTimeout: "120s"
    console:
      grpcEndpoint: "localhost:50051"
      configTTL: "60s"
      requestTimeout: "10s"
      connectionRetry:
        maxAttempts: 5
        initialBackoff: "1s"
        maxBackoff: "30s"
    observability:
      logLevel: info

# initContainers is used to create a list of init containers for your console deployment
initContainers: []

# cliContainer is used to create a container for the plural cli
cliContainer:
  # enabled is used to determine if the container should be created
  enabled: false
  image:
    repository: ghcr.io/pluralsh/plural-cli
    tag: latest

# serviceAccount is used to determine if a service account should be created. If create is set to true, a service account will be created with the name of console
serviceAccount:
  create: true
  annotations: { }

# extraEnv is used to add environment variables to the console container
extraEnv: ~
# extraSecretEnv is used to add secret key-value pairs to the console container
extraSecretEnv: []

# livenessProbe configures the liveness probe for the console container. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1

# readinessProbe configures the readiness probe for the console container. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1

# imagePullSecrets is used to configure Kubernetes image pull secrets. See https://kubernetes.io/docs/concepts/containers/images/
imagePullSecrets: []

# nameOverride is used to expand chart name (see templates/_helpers.tpl) if set (otherwise uses Chart.Name). Truncated after 63 characters and also any trailing - characters (hyphens) are removed
nameOverride: ""

# fullnameOverride is used to expand chart fullname (see templates/_helpers.tpl) if set. Truncated after 63 characters and also any trailing - characters (hyphens) are removed
fullnameOverride: ""

# service is used to configure Kubernetes service type and port for console
service:
  type: NodePort
  port: 4000

# dbPasswordSecret is not used in any of the templates
dbPasswordSecret: console.plural-console.credentials.postgresql.acid.zalan.do
# shutdownDelay is used to configure console deployment terminationGracePeriodSeconds, see https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/
shutdownDelay: 30

# ingress is used to configure console ingress controller (see templates/ingress.yaml)
ingress:
  enabled: true
  ingressClass: nginx

  # tls is used to determine if tls should be enabled. If enabled, then tls.host is set to ingress.console_dns and tls.secretName is set to console-tls
  tls:
    enabled: true
  console-dns: ~

  # rewrite is used to configure console-kas-rewrite ingress controller
  rewrite:
    # enabled determines if console-kas-rewrite ingress controller is created
    enabled: false
    # annotations is used to set the annotations for console-kas-rewrite ingress controller, under metadata.annotations
    annotations:
      konghq.com/rewrite: /$2
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$2

  # annotations is used to set metadata.annotations for console and console-kas-rewrite ingress controllers
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '3600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '3600'
    nginx.ingress.kubernetes.io/session-cookie-path: /socket
  # kas-dns is used in secrets.yaml to set data.KAS_HOST
  kas-dns: ~

# externalIngress is used to configure console-external ingress controller in ingress.yaml
externalIngress:
  # tls is used to determine if tls should be enabled. If enabled, then tls.host is set to ingress.console_dns and tls.secretName is set to console-tls
  tls:
    enabled: true
  # ingressClass is used to set spec.ingressClass for console-external ingress controller
  ingressClass: nginx
  # hostname acts as the flag to determine if console-external ingress controller is created
  hostname: ~
  
  # rewrite is not used in any of the templates
  rewrite:
    annotations:
      konghq.com/rewrite: /
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /

  # annotations is used to set metadata.annotations for console-external ingress controller
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '3600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '3600'
    nginx.ingress.kubernetes.io/session-cookie-path: /ext/socket

postgres:
  # dsnSecret is used to set POSTGRES_URL environment variable
  dsnSecret: postgres-dsn
  dsnKey: dsn
  host: CHANGEME
  port: 5432
  passwordSecret: postgres-password


# resources is used to set CPU and memory for the console container
resources:
  requests:
    cpu: 100m
    memory: 250Mi
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# nodeSelector for console deployment and git-server deployment, see https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
nodeSelector: { }

# tolerations for console deployment and git-server deployment, see https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations: []

# affinity for console and git-server deployments. See https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: 'app.kubernetes.io/name'
            operator: In
            values:
            - console
        topologyKey: "kubernetes.io/hostname"

monitoring:
  # enabled determines if the monitor.yaml and prometheusrule.yaml templates should be used
  enabled: false
  # prometheus is used to set the value of metadata.labels.prometheus in prometheusrule.yaml
  prometheus: k8s

# provider is used to set PROVIDER in secrets.yaml
provider: custom

# controller is used in Chart.yaml to determine if controller dependency should be installed
controller:
  enabled: true

# flux2 is used to override some values in flux2 default chart (packaged in charts/flux2-2.14.0.tgz). See https://github.com/fluxcd-community/helm-charts/blob/main/charts/flux2/values.yaml
flux2:
  # enabled is used in Chart.yaml to determine if flux2 dependency should be installed
  enabled: false
  helmController:
    create: false
  imageAutomationController:
    create: false
  imageReflectionController:
    create: false
  kustomizeController:
    create: false
  notificationController:
    create: false
  sourceController:
    create: true
  policies:
    create: false

# gitserver is used to set the configuration for a git server that uses softserve (https://github.com/charmbracelet/soft-serve)
# The git-server container comes with 2 repositories imported into it:
# - pluralsh/deployment-operator: https://github.com/pluralsh/deployment-operator
# - pluralsh/scaffolds: https://github.com/pluralsh/scaffolds
# Disabled by default, useful for cases where there could be some egress restriction preventing github access
gitServer:
  enabled: false

  # sshPort is used to access the git server for ssh based git operations. Ex: git clone ssh://localhost:23231/pluralsh/deployment-operator.git
  sshPort: 23231
  # httpPort is used to access the git server for http based git operations. Ex: git clone http://localhost:23232/pluralsh/deployment-operator.git
  httpPort: 23232
  # metricsPort is used to access the git server to collect metrics
  metricsPort: 23233
  # gitPort is used to access the git server for ssh based git operations.
  gitPort: 9418

  image:
    repository: ghcr.io/pluralsh/git-server
    tag: ~
  
  containerSecurityContext:
    runAsNonRoot: true
  securityContext:
    runAsUser: 65543
    runAsGroup: 65543
  resources: ~
  tag: ~

# kas is used to potentially override values in the kas subchart (charts/console/charts/kas-0.3.0.tgz)
# The values here match the default values in the kas subchart but are here for documentation and ease-of-access in case user wants to override any values
kas:
  global:
    additionalVolumes: ~
    additionalVolumeMounts: ~

  image:
    # See: https://github.com/pluralsh/kubernetes-agent/pkgs/container/kubernetes-agent.
    repository: ghcr.io/pluralsh/kubernetes-agent
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
    pullSecrets: []

  consoleUrl: ""

  nameOverride: ""

  fullnameOverride: ""

  podAnnotations: { }
  podLabels: { }

  podSecurityContext:
    runAsUser: 65532

  securityContext:
    runAsUser: 65532
    runAsGroup: 65532
    fsGroup: 65532

  priorityClassName: ""

  extraEnv: []

  extraArgs: []

  nodeSelector: { }

  affinity: { }

  tolerations: []

  initContainers: []

  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 128Mi

  service:
    agentPort: 8150
    agentProxyPort: 8180
    apiInternalPort: 8153
    kubernetesApiPort: 8154
    privateApiPort: 8155
    observabilityPort: 8151
    type: ClusterIP

  serviceAccount:
    # Specifies whether a service account should be created.
    create: true
    # Annotations to add to the service account.
    annotations: { }
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template.
    name: ""

  metrics:
    enabled: false
    path: /metrics
    serviceMonitor:
      enabled: false
      additionalLabels: { }
      endpointConfig: { }

  replicCount: 1

  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
    targetCPUAverageValue: 100m
    # targetCPUUtilizationPercentage: 75
    # targetMemoryUtilizationPercentage: 75

  secrets:
    create: true
    api: ""
    privateapi: ""
    redis: ""

  agent:
    path: /ext/kas

  api:
    path: /api
    port: 8000

  ingress:
    ingressClass: nginx
    kubernetesApiPath: /k8s-proxy
    tlsSecretName: kas-tls

    tls:
      enabled: true

    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod

  redis:
    enabled: true
    architecture: standalone
    global:
      security:
        allowInsecureImages: true
    image:
      registry: ghcr.io
      repository: pluralsh/registry/bitnami/redis
      tag: 7.4.2-debian-12-r5
    auth:
      enabled: true
      sentinel: false
    sentinel:
      enabled: false
    master:
      count: 1
    commonConfiguration: |-
      # Enable AOF https://redis.io/topics/persistence#append-only-file
      appendonly yes
      # Disable RDB persistence, AOF persistence already enabled.
      save ""
      # Enable idle client connection timeout (5 minutes)
      timeout 300

cloudQuery:
  enabled: false
  replicaCount: 1

  image:
    repository: ghcr.io/pluralsh/cloud-query
    pullPolicy: IfNotPresent
    tag: ~
    args: ~

  imagePullSecrets: []

  serviceAccount:
    create: true
    automount: true
    annotations: { }

  podAnnotations: { }
  podLabels: { }

  podSecurityContext: { }
  # fsGroup: 2000

  securityContext: { }
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  service:
    type: ClusterIP
    port: 9192

  resources:
    requests:
      memory: 250Mi
      cpu: 100m

  livenessProbe: ~

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  database:
    image:
      repository: ghcr.io/pluralsh/cloud-query-db
      pullPolicy: IfNotPresent
      tag: ~
    # PostgreSQL password configuration
    password:
      # If not provided, a default value of "postgres" will be used
      value: ~
      # If provided, the password will be taken from this existing secret
      existingSecret:
        # Name of the existing secret
        name: ~
        # Key in the secret that contains the password
        key: "password"

  # Additional volumes on the output Deployment definition.
  volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

  # Additional volumeMounts on the output Deployment definition.
  volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

  nodeSelector: { }
  tolerations: []
  affinity: { }

dex:
  enabled: false

  clientSecret: ~

  additionalDexSecrets: { }

  config:
    # Set it to a valid URL
    issuer: https://<your-console-fqdn>/dex

    # See https://dexidp.io/docs/storage/ for more options
    storage:
      type: memory

    connectors:
    # - type: microsoft
    #   # Required field for connector id.
    #   id: microsoft
    #   # Required field for connector name.
    #   name: Microsoft
    #   config:
    #     # Credentials can be string literals or pulled from the environment.
    #     clientID: $MICROSOFT_APPLICATION_ID
    #     clientSecret: $MICROSOFT_CLIENT_SECRET
    #     redirectURI: https://<your-console-fqdn>/dex/callback
    #     tenant: a2bed0c4-5957-4f73-b0c2-a811407590fb
    #     emailToLowercase: false

    staticClients:
    - id: console
      secretEnv: CONSOLE_CLIENT_SECRET
      name: 'Plural Console'
      # Where the app will be running.
      redirectURIs:
      - 'https://<your-console-host>/oauth/callback'

  envFrom:
  - secretRef:
      name: dex-env

  ingress:
    enabled: true
    className: nginx

    annotations:
      kubernetes.io/tls-acme: 'true'
      cert-manager.io/cluster-issuer: letsencrypt-prod

    hosts:
    - host: <your-console-fqdn>
      paths:
      - path: /dex
        pathType: Prefix

    tls:
    - hosts:
      - <your-console-fqdn>
