# Default values for watchman.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  additionalVolumes: ~
  additionalVolumeMounts: ~
  registry: ghcr.io/pluralsh

cloud: 
  enabled: false

disableAdditionalVolumes: false

replicaCount: 2

homeDir: /root

podLabels: {}
podAnnotations: {}

migrator: {}

console:
  additionalContainers: ~

secrets:
  cluster_name: test
  jwt: REPLACEME
  erlang: REPLACEME
  admin_name: test
  admin_email: admin@example.com
  admin_password: REPLACEME

image:
  repository: console
  tag: ~
  imagePullPolicy: IfNotPresent

ociAuth:
  repository: oci-auth
  tag: v0.10.23
  imagePullPolicy: IfNotPresent

initContainer:
  image:
    repository: gcr.io/pluralsh/library/busybox
    tag: 1.35.0

cliContainer:
  enabled: false
  image:
    repository: ghcr.io/pluralsh/plural-cli
    tag: latest

serviceAccount:
  create: true
  annotations: {}

extraSecretEnv: []

livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1

readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 4000

dbPasswordSecret: console.plural-console.credentials.postgresql.acid.zalan.do

shutdownDelay: 30

ingress:
  enabled: true
  ingressClass: nginx

  tls:
    enabled: true

  rewrite:
    enabled: false
    annotations:
      konghq.com/rewrite: /$2
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$2

  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '3600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '3600'
    nginx.ingress.kubernetes.io/session-cookie-path: /socket

externalIngress:
  tls:
    enabled: true
  ingressClass: nginx
  
  rewrite:
    annotations:
      konghq.com/rewrite: /
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /

  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '3600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '3600'
    nginx.ingress.kubernetes.io/session-cookie-path: /ext/socket

postgres:
  dsnSecret: postgres-dsn
  dsnKey: dsn
  host: CHANGEME
  port: 5432
  passwordSecret: postgres-password


resources:
  requests:
    cpu: 100m
    memory: 250Mi
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: 'app.kubernetes.io/name'
            operator: In
            values:
            - console
        topologyKey: "kubernetes.io/hostname"

monitoring:
  enabled: false
  prometheus: k8s

dashboard:
  enabled: true
  cert-manager:
    enabled: false
    installCrds: false
  metrics-server:
    enabled: false
  nginx:
    enabled: false
  app:
    mode: 'api'
  kong:
    enabled: false
  api:
    containers:
      resources:
        requests:
          cpu: 500m
          memory: 500Mi
        limits:
          cpu: 2
          memory: 2Gi
      args:
      - --act-as-proxy
      - --apiserver-host=https://$(KAS_HOST)/k8s-proxy
      - --apiserver-skip-tls-verify
      - --metrics-provider=none
      - --cluster-context-enabled=true
      - --token-exchange-endpoint=http://$(CONSOLE_HOST)/v1/dashboard/cluster
      env:
      - name: KAS_HOST
        valueFrom:
          secretKeyRef:
            name: console-env
            key: KAS_HOST
      - name: CONSOLE_HOST
        valueFrom:
          secretKeyRef:
            name: console-env
            key: CONSOLE_HOST

provider: custom

controller:
  enabled: true

flux2:
  enabled: false
  helmController:
    create: false
  imageAutomationController:
    create: false
  imageReflectionController:
    create: false
  kustomizeController:
    create: false
  notificationController:
    create: false
  sourceController:
    create: true
  policies:
    create: false
