# permissions for end users to edit previewenvironmenttemplates.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: previewenvironmenttemplate-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: controller
    app.kubernetes.io/part-of: controller
    app.kubernetes.io/managed-by: kustomize
  name: previewenvironmenttemplate-editor-role
rules:
- apiGroups:
  - deployments.plural.sh
  resources:
  - previewenvironmenttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - deployments.plural.sh
  resources:
  - previewenvironmenttemplates/status
  verbs:
  - get
