✨ We have a new insight into an issue with your stack

<%= @stack.name %> currently is <%= @stack.status %>

Here's a brief summary of what we've found:

<%= @text %>

View full details: <%= Console.url("/stacks/#{@stack.id}") %>
