go 1.24.0

toolchain go1.24.2

use (
	./ai-proxy
	./client // github.com/pluralsh/console/go/client
	./controller // github.com/pluralsh/console/go/controller
	./demo/flaky-service // github.com/pluralsh/console/go/demo/flaky-service
	./helm-test // github.com/pluralsh/console/go/helm-test
	./helmchartutils // github.com/pluralsh/console/go/helmchartutils
	./oci-auth // github.com/pluralsh/console/go/oci-auth
	./tools // github.com/pluralsh/console/go/tools
)
