go 1.25.1

toolchain go1.25.1

use (
	./ai-proxy
	./client // github.com/pluralsh/console/go/client
	./cloud-query // github.com/pluralsh/console/go/cloud-query
	./controller // github.com/pluralsh/console/go/controller
	./datastore // github.com/pluralsh/console/go/datastore
	./demo/flaky-service // github.com/pluralsh/console/go/demo/flaky-service
	./helm-test // github.com/pluralsh/console/go/helm-test
	./helmchartutils // github.com/pluralsh/console/go/helmchartutils
	./oci-auth // github.com/pluralsh/console/go/oci-auth
	./sign
	./tools // github.com/pluralsh/console/go/tools
)
