go 1.23.4

use (
	./ai-proxy
	./client // github.com/pluralsh/console/go/client
	./controller // github.com/pluralsh/console/go/controller
	./oci-auth // github.com/pluralsh/console/go/oci-auth
	./tools // github.com/pluralsh/console/go/tools
	./demo/flaky-service // github.com/pluralsh/console/go/demo/flaky-service
	./helm-test // github.com/pluralsh/console/go/helm-test
)
