apiVersion: apps/v1
kind: Deployment
metadata:
  name: console
  labels:
{{ include "console.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: console
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: console
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{ if .Values.podLabels }}
        {{ toYaml .Values.podLabels | nindent 8 }}
        {{ end }}
      annotations:
      {{- with .Values.podAnnotations }}
        {{ toYaml . | nindent 8 }}
      {{- end }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9090"
        checksum/config: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
    spec:
      serviceAccountName: console
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      {{ if .Values.console.securityContext }}
      securityContext:
      {{ toYaml .Values.console.securityContext | nindent 8 }}
      {{ end }}
      terminationGracePeriodSeconds: {{ .Values.shutdownDelay }}
      {{ if .Values.cliContainer.enabled }}
      initContainers:
      - name: cli-override
        image: {{ .Values.cliContainer.image.repository }}:{{ .Values.cliContainer.image.tag }}
        imagePullPolicy: IfNotPresent
        command: [ "/bin/sh", "-c", "cp /go/bin/plural /shared/plural"]
        volumeMounts:
          - name: cli-override
            mountPath: /shared
      {{- end }}
      containers:
      {{ if .Values.console.additionalContainers }}
      {{ toYaml .Values.console.additionalContainers | nindent 6 }}
      {{ end }}
      - name: auth
        {{ if .Values.console.containerSecurityContext }}
        securityContext:
        {{- toYaml .Values.console.containerSecurityContext | nindent 10 }}
        {{ end }}
        image: "{{ .Values.global.registry }}/{{ .Values.ociAuth.repository }}:{{ .Values.ociAuth.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.ociAuth.imagePullPolicy }}
        args:
        - --token-file=/shared/token
        volumeMounts:
        - name: conf-dir
          mountPath: /shared
        ports:
        - name: sidecar
          containerPort: 3000
          protocol: TCP
      - name: console
        {{ if .Values.console.containerSecurityContext }}
        securityContext:
        {{- toYaml .Values.console.containerSecurityContext | nindent 10 }}
        {{ end }}
        image: "{{ .Values.global.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.imagePullPolicy }}
        envFrom:
        - secretRef:
            name: console-env
        env:
        {{ include "console.env" . | nindent 8 }}
        - name: REPLICAS
          value: {{ .Values.replicaCount | quote }}
        {{- if  .Values.extraEnv }}
        {{- toYaml .Values.extraEnv | nindent 8 }}
        {{- end }}
        volumeMounts:
        - name: temp-dir
          mountPath: /tmp
        - name: conf-dir
          mountPath: /shared
        {{ if .Values.cloud.pgRootCert }}
        - mountPath: /opt/app/certs
          name: pg-cert
        {{ end }}
        {{ if .Values.cliContainer.enabled }}
        - name: cli-override
          mountPath: /usr/local/bin/plural
          subPath: plural
        {{- end }}
        {{- if or .Values.secrets.identity .Values.secrets.key }}
        - name: console-conf
          mountPath: {{ .Values.homeDir }}/.plural
        {{- end }}
        {{ if not .Values.disableAdditionalVolumes }}
        {{ if .Values.global.additionalVolumeMounts }}
        {{ toYaml .Values.global.additionalVolumeMounts | nindent 8 }}
        {{ end }}
        {{ end }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        - name: metrics
          containerPort: 9090
          protocol: TCP
        - name: epmd
          containerPort: 4369
          protocol: TCP
        livenessProbe:
        {{ toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
        {{ toYaml .Values.readinessProbe | nindent 10 }}
        resources:
        {{- toYaml .Values.resources | nindent 10 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: temp-dir
        emptyDir: {}
      - name: conf-dir
        emptyDir: {}
      {{ if .Values.cloud.pgRootCert }}
      - name: pg-cert
        secret:
          secretName: pg-root-cert
      {{ end }}
      {{ if .Values.cliContainer.enabled }}
      - name: cli-override
        emptyDir: {}
      {{ end }}
      {{- if or .Values.secrets.identity .Values.secrets.key }}
      - name: console-conf
        secret:
          secretName: console-conf
      {{- end }}
      {{ if .Values.global.additionalVolumes }}
      {{ toYaml .Values.global.additionalVolumes | nindent 6 }}
      {{ end }}
