apiVersion: batch/v1
kind: Job
metadata:
  name: console-migration-v3-{{ .Values.image.tag | default .Chart.AppVersion | sha256sum | trunc 8 }}
  labels:
    platform.plural.sh/ignore: 'true'
    {{ include "console.labels" . | nindent 4 }}
spec:
  template:
    spec:
      serviceAccountName: console
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{ if .Values.migrator.securityContext }}
      securityContext:
      {{- toYaml .Values.migrator.securityContext | nindent 8 }}
      {{ end }}
      containers:
      {{ if .Values.console.additionalContainers }}
      {{ toYaml .Values.console.additionalContainers | nindent 6 }}
      {{ end }}
      - name: migrator
        {{ if .Values.migrator.containerSecurityContext }}
        securityContext:
        {{- toYaml .Values.migrator.containerSecurityContext | nindent 10 }}
        {{ end }}
        image: "{{ .Values.global.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        command: ["/opt/app/bin/console",  "migrate"]
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        envFrom:
        - secretRef:
            name: console-env
        - secretRef:
            name: console-migration-env
        env:
        {{ include "console.env" . | nindent 8 }}
        volumeMounts:
        - mountPath: /opt/app/var
          name: scratch
        - mountPath: /tmp
          name: temp-dir
        {{ if .Values.cloud.pgRootCert }}
        - mountPath: /opt/app/certs
          name: pg-cert
        {{ end }}
      restartPolicy: Never
      {{ with .Values.migrator.nodeSelector}}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{ with .Values.migrator.tolerations}}
      tolerations:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      volumes:
      - name: scratch
        emptyDir: {}
      - name: temp-dir
        emptyDir: {}
      {{ if .Values.cloud.pgRootCert }}
      - name: pg-cert
        secret:
          secretName: pg-root-cert
      {{ end }}
  backoffLimit: 5
