{{ $extraSecretEnv := .Values.extraSecretEnv }}
{{ if and .Values.dex.clientSecret .Values.dex.enabled }}
  {{ $extraSecretEnv := omit $extraSecretEnv "OIDC_CLIENT_ID" "OIDC_CLIENT_SECRET" "OIDC_DISCOVERY_URL" }}
{{ end }}
apiVersion: v1
kind: Secret
metadata:
  name: console-env
  labels:
{{ include "console.labels" . | indent 4 }}
type: Opaque
data:
  PROVIDER: {{ .Values.provider | b64enc | quote }}
  CONSOLE_IMG: {{ printf "%s:%s" .Values.image.repository .Values.image.tag | b64enc | quote }}
  CLUSTER_NAME: {{ .Values.secrets.cluster_name | b64enc | quote }}
{{ if .Values.secrets.jwt }}
  JWT_SECRET: {{ .Values.secrets.jwt | b64enc | quote }}
{{ end }}
  KAS_HOST: {{ .Values.ingress.kas_dns | default "" | b64enc | quote }}
  CONSOLE_HOST: {{ printf "console.%s:%d" .Release.Namespace (.Values.service.port | int) | b64enc | quote }}
{{ if .Values.secrets.webhook_secret }}
  WEBHOOK_SECRET: {{ .Values.secrets.webhook_secret | b64enc | quote }}
{{ end }}
{{ if .Values.secrets.erlang }}
  ERLANG_COOKIE: {{ .Values.secrets.erlang | b64enc | quote }}
{{ end }}
{{ if .Values.secrets.plural_client_id }}
  PLURAL_CLIENT_ID: {{ .Values.secrets.plural_client_id | b64enc | quote }}
  PLURAL_CLIENT_SECRET: {{ .Values.secrets.plural_client_secret | b64enc | quote }}
{{ end }}
{{ if .Values.secrets.aes_key }}
  AES_KEY: {{ .Values.secrets.aes_key | b64enc | quote }}
{{ end }}
{{ if .Values.cloud.enabled }}
  CONSOLE_CLOUD: {{ b64enc "true" | quote }}
{{ end }}
{{ if .Values.cloudQuery.enabled }}
  CONSOLE_CLOUDQUERY: {{ b64enc "true" | quote }}
{{ end}}
{{ if .Values.console.config.refreshTokenExpiry }}
  CONSOLE_REFRESH_TOKEN_EXPIRY: {{ .Values.console.config.refreshTokenExpiry | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.oidcSync }}
  CONSOLE_OIDC_SYNC: {{ .Values.console.config.oidcSync | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.defaultProjectName }}
  CONSOLE_DEFAULT_PROJECT_NAME: {{ .Values.console.config.defaultProjectName | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.serviceAccountDomain }}
  CONSOLE_SERVICE_ACCOUNT_DOMAIN: {{ .Values.console.config.serviceAccountDomain | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.deployOperatorUrl }}
  CONSOLE_DEPLOY_OPERATOR_URL: {{ .Values.console.config.deployOperatorUrl | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.artifactsUrl }}
  CONSOLE_ARTIFACTS_URL: {{ .Values.console.config.artifactsUrl | b64enc | quote }}
{{ end }}
{{ if .Values.console.config.assetsProxyUrl }}
  CONSOLE_ASSETS_PROXY_URL: {{ .Values.console.config.assetsProxyUrl | b64enc | quote }}
{{ end }}
{{ range $key, $value := $extraSecretEnv }}
  {{ $key }}: {{ $value | b64enc | quote }}
{{ end }}
{{ if and .Values.dex.clientSecret .Values.dex.enabled }}
  OIDC_CLIENT_ID: console
  OIDC_CLIENT_SECRET: {{ .Values.dex.clientSecret | b64enc | quote }}
  OIDC_DISCOVERY_URL: {{ printf "https://%s/dex/.well-known/openid-configuration" .Values.ingress.console_dns | b64enc | quote }}
{{ end}}
{{ if .Values.console.config.rdsIamAuthentication }}
  CONSOLE_RDS_IAM_AUTH: {{ "true" | b64enc | quote }}
{{ end }}
{{ if .Values.cloud.pgRootCert }}
---
apiVersion: v1
kind: Secret
metadata:
  name: pg-root-cert
stringData:
  ca.cert: {{ .Values.cloud.pgRootCert | quote }}
{{ end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: console-migration-env
  labels:
{{ include "console.labels" . | indent 4 }}
type: Opaque
data:
  ADMIN_NAME: {{ .Values.secrets.admin_name | b64enc | quote }}
  ADMIN_EMAIL: {{ .Values.secrets.admin_email | b64enc | quote }}
{{ if .Values.secrets.admin_password }}
  ADMIN_PASSWORD: {{ .Values.secrets.admin_password | b64enc | quote }}
{{ end }}
{{ if or .Values.secrets.identity .Values.secrets.key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: console-conf
  labels:
{{ include "console.labels" . | indent 4 }}
type: Opaque
data:
{{ if .Values.secrets.identity }}
  identity: {{ .Values.secrets.identity | b64enc | quote }}
{{ end }}
{{ if .Values.secrets.key }}
  key: {{ .Values.secrets.key | b64enc | quote }}
{{ end }}
{{ end }}
{{ if and .Values.dex.clientSecret .Values.dex.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: dex-env
  labels:
{{ include "console.labels" . | indent 4 }}
type: Opaque
data:
  CONSOLE_CLIENT_SECRET: {{ .Values.dex.clientSecret | b64enc | quote }}
  {{ range $key, $value := .Values.dex.additionalDexSecrets }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{ end }}
{{ end }}