<div class="fit-content margin-horizontal-auto text-lead">
  <%= @user.name %> shared a new secret <%= @share.name %>
</div>

<div class="fit-content margin-horizontal-auto text-content text-align-center margin-top-large">
  Log Into the Plural Console to access the one-time download link for this secret.  It will no longer be viewable once consumed.
</div>

<a class="button margin-top-large" href="<%= url("/secrets/#{@share.handle}") %>">
  View your secret
</a>
