---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: customstackruns.deployments.plural.sh
spec:
  group: deployments.plural.sh
  names:
    kind: CustomStackRun
    listKind: CustomStackRunList
    plural: customstackruns
    singular: customstackrun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: CustomStackRun ID
      jsonPath: .status.id
      name: Id
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CustomStackRun is the Schema for the customstackruns API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CustomStackRunSpec defines the desired state of CustomStackRun
            properties:
              commands:
                description: Commands the commands for this custom run
                items:
                  properties:
                    args:
                      description: optional arguments to pass to the command
                      items:
                        type: string
                      type: array
                    cmd:
                      description: the command this hook will execute
                      type: string
                    dir:
                      type: string
                  required:
                  - cmd
                  type: object
                type: array
              configuration:
                description: Configuration self-service configuration which will be
                  presented in UI before triggering
                items:
                  description: PrAutomationConfiguration ...
                  properties:
                    condition:
                      description: Condition ...
                      properties:
                        field:
                          type: string
                        operation:
                          enum:
                          - NOT
                          - GT
                          - LT
                          - EQ
                          - GTE
                          - LTE
                          - PREFIX
                          - SUFFIX
                          type: string
                        value:
                          type: string
                      required:
                      - field
                      - operation
                      type: object
                    default:
                      type: string
                    documentation:
                      type: string
                    longform:
                      type: string
                    name:
                      type: string
                    optional:
                      type: boolean
                    placeholder:
                      type: string
                    type:
                      enum:
                      - STRING
                      - INT
                      - BOOL
                      - DOMAIN
                      - BUCKET
                      - FILE
                      - FUNCTION
                      - PASSWORD
                      - ENUM
                      - CLUSTER
                      - PROJECT
                      type: string
                    validation:
                      description: Any additional validations you want to apply to
                        this configuration item before generating a pr
                      properties:
                        json:
                          description: Whether the string value is supposed to be
                            json-encoded
                          type: boolean
                        regex:
                          description: A regex to match string-valued configuration
                            items
                          type: string
                        uniqBy:
                          description: How to determine uniquenss for this field
                          properties:
                            scope:
                              enum:
                              - PROJECT
                              - CLUSTER
                              type: string
                          required:
                          - scope
                          type: object
                      type: object
                    values:
                      items:
                        type: string
                      type: array
                  required:
                  - name
                  - type
                  type: object
                type: array
              documentation:
                description: Documentation to explain what this will do
                type: string
              name:
                description: Name of this CustomStackRun. If not provided CustomStackRun's
                  own name from CustomStackRun.ObjectMeta will be used.
                type: string
              stackRef:
                description: |-
                  LocalObjectReference contains enough information to let you locate the
                  referenced object inside the same namespace.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            properties:
              conditions:
                description: Represents the observations of a PrAutomation's current
                  state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              id:
                description: ID of the resource in the Console API.
                type: string
              sha:
                description: SHA of last applied configuration.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
