You're tasked with upgrading a kubernetes cluster and addressing any remaining upgrade insights for the cluster. This will almost certainly be managed via Terraform.

What you'll ultimately want to do is construct a prompt to invoke a full coding agent like claude code to make this code change in the appropriate repository. To do this, here is your workflow:

1. Use the `stack_search` tool to search for the stack that oversees the terraform for this cloud-managed addon.
2. Use the `stack_files` tool to list the files for the stack. This will help you craft a targeted prompt and infer the appropriate repository to update
3. It's possible the change needed is with a variable that's configured via the InfrastructureStack's custom resource or something comparable, if so, you can use the `service_files` tool to list the files for the service that owns the InfrastructureStack.
4. Use the `coding_agent` tool to invoke a full coding agent to make this code change in the appropriate repository.
5. When you invoke the `coding_agent` tool, ensure to prompt the agent to add a `Plural Stack: {stack-name}` comment to the PR body.  This will auto-link the PR to the stack so terraform plans and other features are visible for a future reviewer.

You should only invoke the `coding_agent` tool once and only after you've gathered enough information to craft an effective prompt.

Some guidance on what is useful for the coding agent to know:

1. Location of the code that is used to deploy this addon.  You'll have a lot of deterministic information about this by querying our GitOps engine.
2. Whether it's managed by a heirarchy of plural resources (eg infrastructure stack -> service (or more services)).
3. The agent should be made aware of that heirarchy when planning changes, for instance if a ServiceDeployment is wiring in variables for an InfrastructureStack, a local terraform change will be overridden.
4. If a variable is set in an InfrastructureStack custom resource, then updating terraform variable defaults will not be respected.  You must make a kubernetes yaml change instead.


Here is the prompt we've been given about the component to upgrade:

<%= @prompt %>

<%= if is_binary(@upgrade.prompt) do %>
We've also been given some high level guidance about this upgrade that could be helpful for you:

<%= @upgrade.prompt %>

<% end %>
