apiVersion: deployments.plural.sh/v1alpha1
kind: Cluster
metadata:
  name: existing
  namespace: default
spec:
  handle: mgmt
---
apiVersion: deployments.plural.sh/v1alpha1
kind: GitRepository
metadata:
  name: guestbook
  namespace: default
spec:
  url: https://github.com/argoproj/argocd-example-apps.git
---
---
apiVersion: deployments.plural.sh/v1alpha1
kind: ServiceDeployment
metadata:
  name: guestbook
  namespace: default
spec:
  git:
    folder: guestbook
    ref: master
  repositoryRef:
    kind: GitRepository
    name: guestbook
    namespace: default
  clusterRef:
    kind: Cluster
    name: existing
    namespace: default
  reconciliation:
    driftDetection: true
    interval: 1m
---
apiVersion: deployments.plural.sh/v1alpha1
kind: GlobalService
metadata:
  name: globalservice-guestbook
  namespace: default
spec:
  ignoreClusters:
    - mgmt
    - test
  serviceRef:
    name: guestbook
    namespace: default
  reconciliation:
    driftDetection: true
    interval: 1m
