apiVersion: v1
kind: Secret
metadata:
  name: github-token
stringData:
  token: "test-token"
---
apiVersion: deployments.plural.sh/v1alpha1
kind: ScmConnection
metadata:
  name: github
spec:
  name: scm-test-github
  type: GITHUB
  tokenSecretRef:
    name: github-token
  username: "johndoe"
---
apiVersion: deployments.plural.sh/v1alpha1
kind: PrAutomation
metadata:
  name: github-automation
spec:
  name: pr-automation-test-catalog
  catalogRef:
    name: catalog-test
  scmConnectionRef:
    name: github
  clusterRef: {}
  cluster: mgmt
  title: "Updating cluster to {{ context.version }}"
  message: "Updating cluster to {{ context.version }}, please run terraform plan to confirm all changes look good before merging"
  identifier: "floreks/cd-renovate"
  configuration:
    - name: "Test"
      type: ENUM
      placeholder: "Select one value or leave empty"
      optional: true
      values:
        - "yes"
        - "no"
        - "unknown"
    - name: "Required value"
      type: ENUM
      placeholder: "Select one value"
      optional: false
      values:
        - "yes"
        - "no"

---
apiVersion: deployments.plural.sh/v1alpha1
kind: Catalog
metadata:
  name: catalog-test
spec:
  author: Plural
  category: Data
  description: Test catalog for PR automation.
