apiVersion: v1
kind: Secret
metadata:
  name: configuration
  namespace: default
data:
  secret: dGVzdA==
---
apiVersion: deployments.plural.sh/v1alpha1
kind: ServiceDeployment
metadata:
  name: test
  namespace: default
spec:
  version: 0.0.1
  git:
    folder: nginx
    ref: master
    url: https://github.com/zreigz/k8s-helm.git
  clusterRef: {}
  cluster: mgmt
  configurationRef:
    name: configuration
    namespace: default
---
apiVersion: deployments.plural.sh/v1alpha1
kind: ServiceDeployment
metadata:
  name: test-duplicate
  namespace: default
spec:
  version: 0.0.1
  git:
    folder: nginx
    ref: master
    url: https://github.com/zreigz/k8s-helm.git
  clusterRef: {}
  cluster: mgmt
  configurationRef:
    name: configuration
    namespace: default