apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "controller.fullname" . }}-manager-role
  labels:
    app.kubernetes.io/part-of: plural-deployment-controller
  {{- include "controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  verbs:
  - get
  - list
  - patch
  - update
  - watch
  - create
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
  - create
- apiGroups:
  - deployments.plural.sh
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "controller.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/part-of: plural-deployment-controller
  {{- include "controller.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "controller.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "controller.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'