apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kas.fullname" . }}
  labels:
    {{- include "kas.labels" . | nindent 4 }}
spec:
  {{ if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{ end }}
  selector:
    matchLabels:
      {{- include "kas.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        {{- if and .Values.metrics.enabled (not .Values.metrics.serviceMonitor.enabled) }}
        prometheus.io/scrape: "true"
        prometheus.io/port: {{ .Values.service.observabilityPort | quote }}
        prometheus.io/path: {{ .Values.metrics.path }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "kas.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      serviceAccountName: {{ include "kas.serviceAccountName" . }}
      {{ if .Values.initContainers }}
      {{ toYaml .Values.initContainers | nindent 6 }}
      {{ end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          args:
            - "--configuration-file=/etc/kas/config.yaml"
            {{- range .Values.extraArgs }}
            - {{ . }}
            {{- end }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: OWN_PRIVATE_API_URL
              value: "grpc://$(POD_IP):{{ .Values.service.privateApiPort }}"
          {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.service.agentPort }}
            - containerPort: {{ .Values.service.kubernetesApiPort }}
            - containerPort: {{ .Values.service.privateApiPort }}
            - containerPort: {{ .Values.service.observabilityPort }}
            - containerPort: {{ .Values.service.agentProxyPort }}
          readinessProbe:
            httpGet:
              path: /readiness
              port: {{ .Values.service.observabilityPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /liveness
              port: {{ .Values.service.observabilityPort }}
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          {{ if .Values.global.additionalVolumeMounts }}
          {{ toYaml .Values.global.additionalVolumeMounts | nindent 10 }}
          {{ end }}
          - name: etc-kas
            mountPath: /etc/kas
            readOnly: true
          - name: tls
            mountPath: /etc/kas/tls
            readOnly: true
        - name: api
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/api"]
          args:
            - --metrics-provider=none
            - --act-as-proxy
            - --apiserver-host=https://localhost:8154
            - --apiserver-skip-tls-verify
            - --disable-csrf-protection
            - --insecure-bind-address=0.0.0.0
          ports:
            - containerPort: 8000
      terminationGracePeriodSeconds: 300
      volumes:
      {{ if .Values.global.additionalVolumes }}
      {{ toYaml .Values.global.additionalVolumes | nindent 6 }}
      {{ end }}
      - name: etc-kas
        projected:
          defaultMode: 0440
          sources:
            - configMap:
                name: {{ template "kas.configMapName" . }}
            {{- range $name, $value := (omit .Values.secrets "create") }}
            - secret:
                name: {{ $name }}
                items:
                  - key: secret
                    path: .{{ $name }}_secret
            {{- end }}
            - secret:
                name: {{ template "common.names.fullname" (index .Subcharts "redis") }}
                items:
                  - key: redis-password
                    path: redis_server_secret
      - name: tls
        secret:
          secretName: {{ .Values.ingress.tlsSecretName }}
          defaultMode: 0440
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
