name: Helm
on:
  pull_request:
    branches:
      - "*"
permissions:
  contents: read
jobs:
  smoke-test:
    name: Verify Helm Template
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v4.2.0
      - run: helm template charts/console --set dashboard.app.security.csrfKey=dummycsrfkey
      - run: helm template plural/helm/console --set dashboard.app.security.csrfKey=dummycsrfkey
